<?xml version='1.0' encoding='utf-8'?>
<widget id="ie.webhq.concept" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>Train to NZEB</name>
    <description>
        Train to NZEB app.
    </description>
    <author email="aaron@irishwebhq.com" href="http://irishwebhq.com">
        Aaron Roles
    </author>

    <platform name="android" />

    <content src="index.html" />

    <access origin="*" />
    <plugin name="cordova-plugin-whitelist" version="1" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <platform name="android">
        <allow-intent href="market:*" />
        <icon src="./res/android/nzeb-48.png" density="mdpi" />
        <icon src="./res/android/nzeb-72.png" density="hdpi" />
        <icon src="./res/android/nzeb-96.png" density="xhdpi" />
        <icon src="./res/android/nzeb-144.png" density="xxhdpi" />
        <icon src="./res/android/nzeb-192.png" density="xxxhdpi" />
    </platform>
</widget>
