form li{
    list-style: none;
}

h1 + hr, h2 + hr{
    background-color: #2E2E2E;
    height: 5px;
    margin-right: 80%;
}

h1, h2, h3{
    font-weight: 600;
}

h1{
    font-size: 40px;
}

h2{
    font-size: 32px;
}

h3{
    font-size: 24px;
}

img{
    max-width: 100%;
    height: auto;
}

input{
    margin-bottom: 0 !important;
    border: solid 1px #eeeeee !important;
    padding-left: 10px !important;
}

label{
    margin-bottom: 15px !important;
}